APP_NAME=POLARIS_SMART_ACCESS_SERVICE
APP_DB_USER=your-db-user
APP_DB_PASSWORD=your-db-password
APP_DB_NAME=polaris_master
APP_DB={"type":"mysql","host":"your-db-host","port":3306,"maxOpenConnection":10,"maxIdleConnection":5,"connectionMaxLifetimeSecond":60,"retryMax":5,"retryIntervalSecond":1,"logMode":1,"tlsOrSslMode":"false"}
APP_GENERAL={"refreshIntervalMs":60000,"cacheType":"local","publishLogs":true,"autoCleanPeriodDays":7,"autoCleanSleepMs":1000}
APP_LOCAL_CACHE={"shards":1,"lifeWindowMs":600000,"cleanWindowMs":60000,"maxEntrySizeMb":1,"hardMaxCacheSizeMb":64,"verbose":false,"refreshIntervalMs":60000}
APP_LOG={"level":"info","format":"custom-text","outputFile":"","timestampFormat":"2006-01-02 15:04:05.000"}
APP_REST_SERVER={"name":"POLARIS_SMART_ACCESS_SERVICE","port":8080,"contextPath":"/api/v1","mode":"release"}
APP_GRPC_SERVER={"name":"POLARIS_SMART_ACCESS_SERVICE","address":":28081","maxConcurrentStreamsMs":1000,"maxConnectionIdleMs":900000,"timeMs":120000,"timeoutMs":120000}
APP_REDIS_SERVER={"type":"STANDALONE","hosts":["your-redis-host:6379"],"password":"","maxRedirects":3,"poolSize":10,"poolTimeout":1000}
APP_RMQ_CLIENT={"address":"your-rmq-publisher-grpc-host:28080","check":true,"maxRetries":3,"reconnectDelayMs":3000,"maxTimeoutMs":5000}
APP_RMQ={"url":"amqp://user:password@your-rabbitmq-host:5672/","connectionName":"polaris-smart-access","heartbeatSecond":1,"prefetchCount":10,"connectionTimeoutMs":5000,"retryMax":3,"retryIntervalMs":1000}

# Master Data gRPC Service address (warehouse service)
# Local: localhost:28081
# Dev: your-dev-masterdata-host:28081
MASTER_DATA_SERVICE_GRPC_ADDRESS=your-grpc-url

# Keycloak JWKS verification
KEYCLOAK_HOST=your-keycloak-host:8080
KEYCLOAK_REALM=titipaja
KEYCLOAK_PROTOCOL=http

# Session timeout in minutes (default: 1440 = 24 hours)
SES_TIMEOUT_MIN=1440

# Keyclock admin
KEYCLOAK_ADMIN_USER=your-keycloak-user
KEYCLOAK_ADMIN_PASS=your-keycloak-password
KEYCLOAK_ADMIN_CLIENT_ID="admin-cli"

LOGIN_MAX_FAILED_ATTEMPTS=5
LOGIN_RATE_LIMIT_WINDOW_MIN=15
LOGIN_LOCK_DURATION_MIN=30

